// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: 
.menu-icon {
    width: 24px;

}

.menu ul li {
    display: inline;
}

.home-main {
    background-image: url(http://hqwallbase.com/images/big/summer_flowers-1564128.jpg);
}

.home-secondary {
    background-image: url(http://dreamatico.com/data_images/flowers/flowers-5.jpg);
}